@model DemoCRUD.Models.Livro

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("Delete", "Livros", FormMethod.Post, new { id = "formCRUD" }))
{
    @Html.AntiForgeryToken()
    <h3>Voce tem certeza que deseja deletar este Livro?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            @*
                <dt>
                    @Html.DisplayNameFor(model => model.Genero.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genero.Nome)
                </dd>
            *@
            <dt>
                Título
                @*@Html.DisplayNameFor(model => model.Titulo)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Autor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Autor)
            </dd>

            <dt>
                Ano da Edição
                @*@Html.DisplayNameFor(model => model.AnoEdicao)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnoEdicao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>

        </dl>



        <div class="form-actions no-color" style="margin-left:100px;">
            @*
        <a href="@Url.Action("Index")" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>*@
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <input type="button" value="Deletar" class="btn btn-primary" />
            @*Html.ActionLink("Back to List", "Index")*@
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Projeto/EnviarForm.js"></script>
