@model DemoCRUD.Models.Livro

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Livros</h4>
    <hr />
    <dl class="dl-horizontal">
        @*
            <dt>
                @Html.DisplayNameFor(model => model.Genero.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genero.Nome)
            </dd>
        *@
        <dt>
            @*@Html.DisplayNameFor(model => model.Titulo)*@
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            Ano da Edição
            @*@Html.DisplayNameFor(model => model.AnoEdicao)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<div class="form-group" style="text-align: left; margin-left: 150px">
    <p>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-chevron-left"></span></button>

        @*<a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-primary">Alterar</a>
            <a href='#' class='btn-sm btn-warning' data-acao='Edit' data-row-id='" + row.Id + "'><span class='glyphicon glyphicon-edit'></span></a>
            @* @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) *@
    </p>
</div>

@section scripts{
    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script src="~/Scripts/Projeto/ControlarGrid.js"></script>
    <script type="text/javascript">
        // quando o documento estiver 'pronto' chama a função 'configuracontroles'
        // variavel para indicar qual controller será utilizada
        var controller = "Livros";

        var urlListar = "@Url.Action("Listar")";

        $(document).ready(configurarControles);

        $("a.btn").click(function () {
        var acao = $(this).data("action");

        abrirModal(acao);
    });
    </script>
}